click==7.1.1
dnspython==1.16.0
Flask==1.1.2
flask_wtf
wtforms
email-validator
gsq==0.1.6
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
MarkupSafe==1.1.1
numpy==1.18.2
pandas==1.0.3
patsy==0.5.1
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
statsmodels==0.11.1
Werkzeug==1.0.1
flask_pymongo
neuralcoref==4.0
spacy==2.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
